<h1>ReactSample#material_ui</h1>
<p>Find me in app/views/react_sample/material_ui.html.erb</p>

<div id="react_material_ui"></div>

<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
